<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/start.css">
    <title>How To Play</title>
</head>
<body>

    <div id="progress"></div>

    <div id="container">
        <h1>How to paly</h1>
        <p>In this game you will be facing 3 levels.
            <br> <br>
            In 1st level you are givven some time to become handdy with the controls.
            <br> <br>
            In second level you will face 2 waves of straight coming meteroids one wave slow and other one fast.
            <br> <br>
            In third level you will face 2 waves of meteroids coming in waving pattern one wave slowly and other one fast.
            <br> <br>
            Thirt level is hardest one in this al three meteroids come together from different direction in waving pattern, this level alao have 2 waves firsst one with slow speed and second one with fast speed. This is final level and imposible to clear all the best keep trying.
        </p>
        <a href="/templates/start.html"><h2 id="endingMessage2">Go back</h2></a>
    </div>
</body>
</html>