<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Wars</title>
    <link rel="stylesheet" href="/CSS/index.css">
</head>
<body>

    <div id="progress"></div>
    
    <div id="container">
        <h1 id="startMessage" style="visibility: unset;">Click Any button to start game</h1>
        <h1 id="obstacelsAlert" >Alert!! captain obstacels spoted</h1>
        <h1 id="message1">Level 1</h1>
        <h1 id="message2">Congratulation!! Level 1 cleared</h1>
        <h1 id="message3">Level 2</h1>
        <h1 id="message4">Congratulation!! Level 2 cleared</h1>
        <h1 id="message5">Level 3</h1>
        <h1 id="message6">Congratulation!! Level 3 cleared</h1>
        <h1 id="message7">Final Level!! Impossible to clear:)</h1>
        <h1 id="message8"></h1>
        <h1 id="endingMessage">Game Over</h1>
        <a href="/templates/index.html"><h1 id="endingMessage1">Play Again</h1></a>
        <a href="/templates/start.html"><h1 id="endingMessage2">Go back</h1></a>
        <div id="character">
        </div>
        <div id="obstacel1" class="obstacels"></div>
        <div id="obstacel2" class="obstacels"></div>
        <div id="obstacel3" class="obstacels"></div>
        <h2 id="time">Time:-</h2>
    </div>
    <div id="controler">
        <button id="left" class="btn">Left</button>
        <button id="up" class="btn">Up</button>
        <button id="right" class="btn">Right</button>
        <button id="down" class="btn">Down</button>
    </div>

<script src="/JS/index.js"></script>
</body>
</html>